.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    margin-top: 3px;
    width: 34%;
    margin-left:-24px;
}

.nav-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items ul li {
    list-style: none;
    font-size: 30px;
    padding: 20px;
    
}

.nav-items ul li a {
    text-decoration: none;
    color: black;
    position: relative;
}

.nav-items ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(53, 135, 243);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.nav-items ul li a:hover {
    color:rgb(53, 135, 243);
}

.nav-items ul li a:hover::after {
    width: 100%;
    
}
